.wrapper{

  width:1366px;
  height:768px;
  margin:auto;
  /*
  border: 1px red solid;
  */
  background-image: url('../img/background.png');

  position: relative;

  /*z-index: 1;*/
  &__bg-opacity {
    position:absolute;

    /*border: 1px red solid;*/

    background-color: rgba(0,0,0,0.72);

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    color: #fff;
  }
  &__logo {
    position:absolute;

    /*border: 1px red solid;*/

    top: 49px;
    left: 160px;
    height: 44px;
    width: 130px;

    background: url("../img/logo.png");
    background-repeat: no-repeat;

    color: #fff;

    z-index: 999;
    &:hover {
      background: url("../img/logo_hover.png");
      background-repeat: no-repeat;
    }

    &.logo{
      &__paragraph {
        margin: 0;
        padding: 0;
        text-align: right;

        font-family: Verdana, serif;
      }
    }
  }



}
