.container {
  &__first,
  &__second {
    border: 1px red dashed;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: 640px) {
  .container {
    &__first,
    &__second {
      border: 2px blue solid;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
}

@media (min-width: 980px) {
  .container {
    &__first,
    &__second {
      border: 5px green solid;
      margin-top: 25px;
      margin-bottom: 15px;
    }
  }
}
@media (min-width: 1200px) {
  .container {
    &__first,
    &__second {
      border: 5px fuchsia solid;
      margin-top: 25px;
      margin-bottom: 15px;
    }
  }
}


//article { background-color: red; }
//
//@media (max-width: 300px) and (min-width: 200px) {
//  article { background-color: green; }
//}
//
//@media (max-width: 500px) {
//  article { background-color: blue; }
//}
//
//@media screen and (min-width: 100px) and (max-width: 50em){
//  article { background-color: #fffe74; }
//}

@media screen and (min-width: 500px) {
  @media screen and (max-width: 800px) {
    article { background-color: #bbb; }
  }
}
