* {
    padding: 0;
    margin: 0;
    font-family: "Verdana", sans-serif;
}

body {
    /*Фоновая картинка должна быть растянута на весь экран независимо
     от размера экрана, с соблюдением всех пропорций (читаем про свойство
     background-size)*/
    background: url('../img/img-bgnd.png') no-repeat center top fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #63c693;
}

header div.header {
    width: 100%;
    /*Верхняя полоса с иконками должна иметь прозрачность, как на макете*/
    background-color: rgba(0, 0, 0, 0.4);
    height: 56px;
}

header .header div {
    float: right;
    color: white;
    font-size: 14px;
    line-height: 21px;

}

header .header .hdr-div {
    margin-top: 18px;

}

header .header .div-sign {
    padding-right: 74px;
}

header .header .div-welcome {
    padding-left: 24px;
    border-left: 2px #434343 solid;
    line-height: 21px;
}


header .header .journey a {
    color: white;
}

header .header .journey a:hover {
    color: #63c693;
}

.header .authentication a:hover {
    border-bottom: #3cb878 1px solid;
}

header .header .journey {
    float: left;
    width: 110px;
    font-size: 20px;
    line-height: 21px;

    font-weight: bold;
    padding-top: 20px;
    padding-left: 152px;
}

.header .sprite_back {
    /*Все иконки в хедере должны быть сделаны в использованием
    спрайтов и помещены в один файл*/
    background-image: url('../img/css_sprites.png');
    display: inline-block;
    margin-right: 28px;
}

.header .div-img-lnk {
    margin-top: 18px;
}

.header .div-img-lnk .bg-ic_calendar {
    width: 19px;
    height: 19px;
    background-position: -36px -5px;
}

.header .div-img-lnk .bg-ic_calendar:hover {
    background-position: -65px -5px;
}

.header .div-img-lnk .bg-ic_forum {
    width: 28px;
    height: 20px;
    background-position: -189px -5px;
}

.header .div-img-lnk .bg-ic_forum:hover {
    background-position: -227px -5px;
}

.header .div-img-lnk .bg-ic_journey {
    width: 20px;
    height: 20px;
    background-position: -94px -5px;
}

.header .div-img-lnk .bg-ic_journey:hover {
    background-position: -124px -5px;
}

div.body-flex {
    height: calc(100vh - 56px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green-box {
    /*Добавить зеленый квадрат слева от текста Sign Up вверху модального окна*/
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: relative;
    top: 20px;
    left: -62px;
}

div.content {
    box-sizing: border-box;
    width: 444px;
    height: 584px;
    background-color: white;
    border-radius: 10px;
    padding: 0px 62px 32px 62px;
}

.div-sign-in {
    font-size: 20px;
    color: #434343;
    margin-bottom: 15px;
}

.div-sign-in > div > a {
    font-size: 14px;
    line-height: 21px;
    color: #3cb878;
}

.content .div-sign-in > div > a:hover {
    border-bottom: #3cb878 1px solid;
}

.content .div-Log-In {
    float: right;
}

.content .div-btn button {
    border-radius: 3px;
    border: none;
    color: white;
    margin-bottom: 32px;
    font-size: 16px;
    width: 157px;
    height: 46px;
    text-align: left;
}

.content .div-btn button.btn-fb {
    background-color: #264b96;
    padding-left: 20px;
}

.content .div-btn span.bg-fb {
    display: inline-block;
    width: 10px;
    height: 20px;
    background: url('../img/css_sprites.png') -16px -5px;
    vertical-align: middle;
}

.content .div-btn span.span-fb {
    margin-left: 13px;
    padding-left: 16px;
    border-left: #224387 2px solid;
    vertical-align: middle;
}

.content .div-btn button.btn-gl {
    background-color: #c3412c;
    padding-left: 13px;
}

.content .div-btn span.bg-gl {
    display: inline-block;
    background: url('../img/css_sprites.png') -154px -5px;
    width: 25px;
    height: 16px;
    vertical-align: middle;
}

.content .div-btn span.span-gl {
    margin-left: 5px;
    padding-left: 16px;
    border-left: #af3a28 2px solid;
    vertical-align: middle;
}

.content .div-btn span.span-fb, .content .div-btn span.span-gl {
    margin-top: 5px;
}

.div-or-line {
    text-align: center;
    margin-bottom: 18px;
    color: #cecece;
}

.title:before, .title:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 135px;
    height: 1px;
    background: #eaeaea;
    border: solid #FFF;
    border-width: 0 10px;
}

.title:before {
    margin-left: -100%;
}

.title:after {
    margin-right: -100%;
}


.content .form .div-fields input {
    padding-left: 19px;
}

.content .form .div-fields input:focus {
    /*Поля для ввода текста должны выделяться так как первое поле
    на макете при клике на них курсором мыши (не по ховеру), пока
    пользователь вводит текст в это поле*/
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.12);
    outline: none;
}

.content .form .div-fields input.div-firstName { /*этот бокс должен быть поднят при фокусе или все время?*/
    margin-bottom: 17px;
}

.content .form .div-fields input,
.content .form input.inp-btn {

    box-sizing: border-box;
    width: 100%;
    height: 46px;
    border: 1px #cecece solid;
}

.content .form input.inp-btn {
    background-color: #3cb878;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.content .form input {
    margin-bottom: 9px;
    border-radius: 2px;
}

.content a {
    color: #63c693;
}

.content a:hover {
    border-bottom: #3cb878 1px solid;
}


.content .form input[type="checkbox"] {
    display: none;
}

.content .form label {
    color: #000;
    cursor: default;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
    font-weight: normal;
    font-style: normal;
}

.content .form label:before {
    content: " ";
    color: #000;
    display: inline-block;
    font: 15px/20px FontAwesome; /* шрифт Awesome*/
    margin-right: 10px;
    position: relative;
    text-align: center;
    text-indent: 0;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #cecece;
    border-image: initial;
    vertical-align: middle;
    border-radius: 2px;
}

.content .form input:checked + label:before {
    content: "\f00c";
    color: #3cb878;
}

.content .form input:disabled + label:before {
    background: #eee;
    color: #aaa;
}

.new-style-chkbx {
    margin-top: 5px;
}