<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS Sample 02</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>VueJS Sample 02 Списки</h1>

    <!--
    контейнер для нашего приложения
    -->
    <div id="app">
        <ul>
            <!--
            используем директивы:
            1) v-for
            2) v-bind
            -->

            <!--Для упрощенного варианта списка № 1-->
            <!--
            <li v-for = "bear in bears" v-bind:class="{ 'strike': true }">{{ bear }}</li>
            -->

            <!--Для продвинутого варианта списка № 1-->
            <!--
            <li v-for = "bear in bears" v-bind:class="{ 'strike': bear.status }">{{ bear.name }}</li>
            -->

            <!-- v-bind можно опускать -->
            <li v-for = "bear in bears" :class="{ 'strike': bear.status }">{{ bear.name }}</li>


        </ul>
    </div>

    <script src="js/vue.min.js"></script>
    <script src="js/mySample_02.js"></script>
</body>
</html>