<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS Sample 01</title>
</head>
<body>
<h1>VueJS Sample 01 Hello Vue.js</h1>

<div id="app">
<!--   Vue.js scope -->
    <!--    контейнер нашего сообщения-->
    <h2>{{ msg }}</h2>

    <!-- демонстрация концепции реактивности работы Vue.js-->
    <!-- ( т.е., если мы изменим сообщение вмнутри модели, то  -->
    <!--   это мгновенно обновит и наш шаблон ) -->

    <!--  для демонстрации в элементе input с помощью директивы v-model -->

    <input type="text" v-model="msg">

    <!--
    еще добавим пару строк в наш шаблон
    используя глобальную переменную data,
    которая ссылается на нашу модель данных,
    пропустим через json-фильтр
    -->
    <pre>{{ $data | json }}</pre>



</div>

<!--#CDN (Content Delivery Network) for production -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script>
    //данные, которые котим отобразить в контейнере
    let data = {
       msg: 'I love Vue.js ))'
    };
    // новый экземпляр Vue
    new Vue({
        el: "#app",
        // связываем данные с контейнером
        data: data
    });
</script>
</body>
</html>