<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VueJS S04</title>

    <style>
        .box{
            background-color: pink;
            width: 250px;
            height: 250px;
        }
    </style>

</head>

<body>

<h1>VueJS Sample 04 Анимированные переходы</h1>

<div id="app">

    <button @click="show = !show">скрыть | показать</button>

    <!--
    <div class="box" v-show="show"></div>
    -->
    <div class="box" v-if="show"></div>
    <div v-else="show">Пусто</div>

</div>

<!--#CDN (Content Delivery Network) for production -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

<script>
    new Vue({
        el: "#app",
        data: {
            show: true
        }
    });
</script>

</body>
</html>