body, html {
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    color: #ffe925;
    background-color: #18221d;
    overflow: hidden;
    margin: 0 auto;
}

#titles {
    position: absolute;
    width: 18em;
    height: 45em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 1000%;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(425px) rotateX(25deg);
    line-height: 200px;
}

#titles:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(36, 71, 51, 0.27) 0%, transparent 100%);
    pointer-events: none;
}

#text-animation {
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 0s infinite;
}

@keyframes scroll {
    from {
        top: 100%;
    }
    to {
        top: -170%;
    }
}
