*{
    margin: 0;
    padding: 0;
}
body{
    /*

     */
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;

}
.wrapper{
    width: 1280px;
    /*
    border: 1px black dotted;

     */
    margin: auto;

}
header{
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: left;
    vertical-align: center;
    font-size: 30pt;
    height: 120px;
    color: #4bcaff;
}
nav {
    overflow: hidden;
    background-color: #35444f;
    text-align: center;
}
nav div{
    display: inline-block;
}
a.logo{
    text-decoration: none;
    color: #4bcaff;
}
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration: none;
    height: 40px;
    font-size: 18pt;
}
nav a:hover {
    background-color: #222f3a;
    border-left: 1px white solid;
    border-right: 1px white solid;
}
.column1 {
    float: left;
    width: 344px;
    height: 399px;
    border: 1px black solid;
    margin-top: 51px;
}
.column2 {
    float: left;
    margin-top: 51px;
    margin-left: 52px;
    border: 1px black solid;
    padding-top: 75px;
    padding-left: 297px;
    padding-right: 262.75px;
    padding-bottom: 73px;
}
.column3 {
    display: inline-block;
    /*
    border: 1px black solid;

     */
    width: 815px;
    margin-top: 51px;
    margin-left: 426px;
}
a.menu{
    display: block;
    font-size: 25pt;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    color: #7a858d;
}
a.menu:hover{
    background-color: #dbdbdb;
    color: black;
    padding-left: 60px;
}
p.main-content{
    font-size: 14pt;
    padding-bottom: 30px;
    text-align: justify;
}
footer {
    background-color: #b4b7ba;
    clear: both; /* clear the floats */

    margin-bottom: 40px;
    text-align: right;
    font-size: 18pt;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;

    color: #0c1927;
}
footer a {
    float: left;
    display: block;
    color: #0c1927;
    text-align: center;
    text-decoration: none;
    height: 40px;
    font-size: 18pt;
    padding-left: 20px;
}
footer a:hover {
    color: #3a85a7;
    text-decoration: underline;
}
