body{
    background-color: rgb(224,255,254);
    font-size: 10px;
    /*
    font-family:Verdana
     */
    font-family:Verdana

}
h1{
    text-align: center;
}
#header2{
    color: rgb(103,107,114);
    text-align: center;
}
#header3{
    color: rgb(178,0,0);
    text-align: center;
    border-top: 1px solid;
    border-top-color: darksalmon;
    padding-top: 10px;
}
.right{
    text-align: right;
}