.wrapper{

    width:1366px;
    height:768px;
    margin:auto;
    /*
    border: 1px red solid;
    */
    background-image: url('../img/background.png');

    position: relative;

    /*z-index: 1;*/
}


.bg-opacity{
    position:absolute;

    /*border: 1px red solid;*/

    background-color: rgba(0,0,0,0.72);

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    color: #fff;
}


.logo{

    position:absolute;

    /*border: 1px red solid;*/

    top: 49px;
    left: 160px;
    height: 44px;
    width: 130px;

    background: url("../img/logo.png");
    background-repeat: no-repeat;

    color: #fff;

    z-index: 999;

}

.logo:hover {
    background: url("../img/logo_hover.png");
    background-repeat: no-repeat;
}


.logo p{
    margin: 0;
    padding: 0;
    text-align: right;

    font-family: Verdana, serif;
}

.logo:hover p{
    color: #f26522; /* orange */
}

.logo p.text-ln-1{
    font-size: 22px;
}

.logo p.text-ln-2{
    font-size: 13.7px;

}

.header{

    position:absolute;

    /*border: 1px red solid;*/


    color: #fff;

    top: 57px;
    left: 90px;
    width:1135px;
    
    font-size: 18pt;

    text-align: right;

}

.header p{
    padding: 0;
    margin: 0;
}

.main{

    position:absolute;

    top: 120px;
    left: 90px;
    width:1200px;

    /*border: 1px red solid;*/

    margin:auto;
    float: none;
}

.footer{
    position:absolute;

    top: 736px;
    left: 150px;
    width:1045px;

    text-align: center;
    font-size: 12px;
    color: #fff;

    /*border: 1px red solid;*/
}

.img_frame{
    float: left;
    margin-top: 40px;
    margin-left: 70px;
}

.img_block {

    display: block;


    max-width:308px;
    height: 200px;
    
    /*
    background:#f6f6f6;
    */

    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-weight:400;

    /*

    border-width: 4px;
    border-style: solid;
    border-color: #DDDDDD;

    box-shadow: 10px 10px 6px -6px #777777;
    */

    overflow: hidden;
    position: relative;

    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;

    /*
    cursor:pointer;
    */
}

.img_frame .img-title{

    /*position:absolute;*/

    /*border: 1px red solid;*/

    padding: 0;
    margin: 0;

    margin-top: 20px;



    /*top:220px;*/

    left:0;

    width: 100%;

    text-align: center;
    font-size: 20px;
}

.img_frame .img-title a{
    text-decoration: none;
    color: white;
}

.img_frame .img-title a:hover{
    text-decoration: none;
    color: #f26522;
}

.img_block .over_block {

    background-color:rgba(0, 160, 150, 0);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: 9900;
    -moz-transition:all 1s;
    -webkit-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}

.img_block:hover .over_block {
    display:block;
    /*
    background-color:rgba(0, 160, 150, 0.7);
    */
}

.img_block div {

    background: #f26522;
    width:100%;
    height:0;
    font-size:11px;

    /*
    text-transform:uppercase;
    line-height:60px;
    */

    position:absolute;


    /*
    display:block;
    overflow: hidden;
    */

    bottom:0;
    left:0;
    z-index: 9910;

    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.img_block:hover div {
    bottom:0;
    height:60px;
    color: #ffffff;
}

.text-box{
    position: relative;
    padding: 0;
}

.info_1{
    position:absolute;

    top: 3px;
    left: 21px;

    font-size: 11px;

    /*
    border: 1px green solid;
    */
}

.info_2{
    position:absolute;

    top: 8px;
    left: 21px;

    font-size: 20px;

    /*
    border: 1px green solid;
    */
}

.info_3{

    position:absolute;

    top: 28px;
    left: 180px;
    font-size: 18px;
    color: #fef5f0;

    /*
    border: 1px green solid;
    */
}

.info_3::after {
	/*
    content: <i class="fas fa-angle-down"></i>;
    */
    content: " >";
    color: #f9b291;
    font-size: 20px;
}

a.info_3{
    text-decoration: none;
}


