h1 {
    border: 1px solid #9ce6ac;
}

/*отключаем браузерную подсветку текстового поля при фокусе*/
input {
    outline: 0 !important;
}

/*

input.feildtext {
    border: 1px solid #ccc;
}

input.feildtext:focus {
    border: 2px solid green;
}

 */

p {
    margin: 0;
    padding: 0 0 .5em;
}

.pane {
    padding: 5px 10px 5px;
    padding-right: 30px;
    border: solid 2px #e7eaed;
    position: relative;
    border-radius: 20px;
    width: max-content;
}

.strPrice{
    color: #c3c4c3;
}

.remove-button {
    position: absolute;
    font-size: 110%;
    color: #e7eaed;
    top: 4px;
    right: 4px;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    display: block;
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    border: 2px solid #e7eaed;
    border-radius: 20px;
}