@import '_variable';
@import '_mixins';
@import '_colors';
@import '_abstact_classes';

.container{
  border: $baseBorderStyle;

  .list{
    margin: 5px;

    .item{
      padding: $basePadding;
      color: $fontColor;

      //& - указатель на родительский объект .item
      &.active{
        //@include transform('30deg');
        @extend .message;

        background-color: aqua;
        border: $baseBorderStyle;
        color: $red;
      }

      &.special{
        @extend .for
      }

      .item-sub-element{
        @include transform(rotate(10deg));

      }
    }
  }
}

.header {
  .navigation {
    display: flex;
  }
}