.container__first, .container__second {
  border: 1px red dashed;
  margin-top: 20px;
  margin-bottom: 10px; }

@media (min-width: 640px) {
  .container__first, .container__second {
    border: 2px blue solid;
    margin-top: 10px;
    margin-bottom: 5px; } }

@media (min-width: 980px) {
  .container__first, .container__second {
    border: 5px green solid;
    margin-top: 25px;
    margin-bottom: 15px; } }

@media (min-width: 1200px) {
  .container__first, .container__second {
    border: 5px fuchsia solid;
    margin-top: 25px;
    margin-bottom: 15px; } }

@media screen and (min-width: 500px) and (max-width: 800px) {
  article {
    background-color: #bbb; } }
