
@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo-v12-latin-regular.eot');
    src: local('Arimo Regular'), local('Arimo-Regular'),
    url('../fonts/arimo-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/arimo-v12-latin-regular.woff2')      format('woff2'),
    url('../fonts/arimo-v12-latin-regular.woff')       format('woff'),
    url('../fonts/arimo-v12-latin-regular.ttf')        format('truetype'),
    url('../fonts/arimo-v12-latin-regular.svg#Arimo')  format('svg');
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

html, body {
    width: 100%;
    height: 100%;
}

div.wrapper {
    width: 100%;
    height: 100%;
    background-color: #3a4965;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #484848;
}

p {
    color: #484848;
}

.wrapper table {
    width: 1160px;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #e3e3e3;
}

th.cell-0-0 {
    background-color: #fafafa;
    border-left: 2px #d7d7d7 solid;
    width: 310px;
}

.p-choose {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

.p-pricing {
    font-size: 30px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
}

tr {
    height: 69px;
}

td {
    border-left: 2px #d7d7d7 solid;
    width: 277px;
}

tr.tr-prices {
    height: 86px;
    background-color: #fafafa;
}

.wrapper th {
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.th-2 {
    background-color: #89c331;
}

th.th-3 {
    background-color: #f04a56;
    font-size: 30px;
}

.th-4 {
    background-color: #20807c;
}

p.price {
    float: left;
    font-size: 60px;
    line-height: 65px;
    font-weight: 700;
}

.price99 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-top: 5px;
    text-align: left;
}

.tr-prices div.pricing {
    display: inline-block;
    width: 200px;
    height: 58px;
}

span {
    margin-left: 10px;
}

tr.buttons {
    height: 110px;
}

button {
    width: 192px;
    height: 49px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

/*Добавить ховер для кнопок (стиль можно использовать любой)*/
button:hover {
    transform: scale(1.2);
}

.button-1 {
    background: linear-gradient(to bottom, #484848 85%, #404040 50%);
}

.button-2 {
    background: linear-gradient(to bottom, #89c331 85%, #79b027 50%);
}

.button-3 {
    background: linear-gradient(to bottom, #f04a56 85%, #df3a46 50%);
}

.button-4 {
    background: linear-gradient(to bottom, #20807c 85%, #16736f 50%);
}

i {
    color: #848484;
    transform: scale(1.5);
}